<div class="col-12">
  <h2 class="text-center">Agregar un nuevo camion al sistema</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="product">Producto:</label>
      <div class="alert alert-danger" *ngIf="products.length === 0">
        <p>No hay productos creados.</p>
        <button class="btn btn-success" (click)="goToProduct()">Crear un producto</button>
      </div>
      <select type="text" formControlName="product" name="product" class="form-control" id="product" *ngIf="products.length > 0">
        <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
      </select>
      <div  *ngFor="let validation of validationMessages.standard">
        <div class="alert alert-danger" *ngIf="addForm.get('product').hasError(validation.type) && (addForm.get('product').dirty || addForm.get('product').touched)">{{validation.message}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="date">Fecha:</label>
      <input type="date" formControlName="date" class="form-control" name="date" id="date">
      <div  *ngFor="let validation of validationMessages.date">
        <div class="alert alert-danger" *ngIf="addForm.get('date').hasError(validation.type) && (addForm.get('date').dirty || addForm.get('date').touched)">{{validation.message}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="company">Empresa:</label>
      <div class="alert alert-danger" *ngIf="companies.length === 0">
        <p>No hay empresas creadas.</p>
        <button class="btn btn-success" (click)="goToCompany()">Crear una empresa</button>
      </div>
      <select type="text" formControlName="company" name="company" class="form-control" id="company" *ngIf="companies.length > 0">
        <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
      </select>
      <div  *ngFor="let validation of validationMessages.standard">
        <div class="alert alert-danger" *ngIf="addForm.get('company').hasError(validation.type) && (addForm.get('company').dirty || addForm.get('company').touched)">{{validation.message}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="billOfLoading">Bill Of Loading:</label>
      <div class="alert alert-danger" *ngIf="billOfLoadings.length === 0">
        <p>No hay bill of loadings creados.</p>
        <button class="btn btn-success" (click)="goToBillOfLoading()">Crear un bill of loading</button>
      </div>
      <select type="text" formControlName="billOfLoading" name="billOfLoading" class="form-control" id="billOfLoading" *ngIf="billOfLoadings.length > 0">
        <option *ngFor="let billOfLoading of billOfLoadings" [value]="billOfLoading.id">{{billOfLoading.id}}</option>
      </select>
      <div  *ngFor="let validation of validationMessages.standard">
        <div class="alert alert-danger" *ngIf="addForm.get('billOfLoading').hasError(validation.type) && (addForm.get('billOfLoading').dirty || addForm.get('billOfLoading').touched)">{{validation.message}}</div>
      </div>
    </div>

    <button class="btn btn-success" [disabled]="!addForm.valid">Crear</button>
  </form>
</div>
