<div class="row">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2> Detalles de Productos</h2>
          <button class="btn btn-danger" (click)="addProduct()"> Agregar nuevo producto</button>
        </div>
        <div class="col-12" style="overflow-x: scroll;">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Tipo de producto</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.productType}}</td>
              <td>
                <button class="btn btn-success" (click)="editProduct(product)" style="margin-left: 20px;">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
