<div class="row">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2> Detalles de entradas de containers a planta</h2>
          <button class="btn btn-danger" (click)="addShipment()"> Agregar nueva entrada de container a planta</button>
        </div>
        <div class="col-12" style="overflow-x: scroll">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Numero de Identificacion</th>
              <th>Entrada</th>
              <th>Salida</th>
              <th>Camion</th>
              <th>Container</th>
              <th>Orden de compra</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shipment of shipments">
              <td>{{shipment.id}}</td>
              <td>{{shipment.enterTime}}</td>
              <td>{{shipment.leaveTime}}</td>
              <td>{{shipment.truck.licensePlate}}</td>
              <td>{{shipment.container.id}}</td>
              <td>{{shipment.order.id}} - {{shipment.order.date}}</td>
              <td>
                <div class="btn-toolbar" role="toolbar" aria-label="Action toolbar">
                  <div class="btn-group" role="group">
                    <a class="btn btn-info" href="/view-shipment/{{shipment.id}}" style="margin-left: 20px;"><i
                      class="fas fa-eye"></i></a>
                    <button class="btn btn-success" (click)="editShipment(shipment)" style="margin-left: 20px;"><i
                      class="fas fa-edit">Editar</i></button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
