<div class="col-md-6">
  <h2> Detalles de Ordenes</h2>
  <button class="btn btn-danger" (click)="addOrder()"> Agregar nueva orden</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Fecha</th>
      <th>Producto</th>
      <th>Empresa</th>
      <th>Bill of Loading</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td class="hidden">{{order.id}}</td>
      <td>{{order.date}}</td>
      <td>{{order.product.name}}</td>
      <td>{{order.company.name}}</td>
      <td>{{order.billOfLoading}}</td>
      <td><button class="btn btn-danger" (click)="editOrder(order)" style="margin-left: 20px;"> Editar</button></td>
    </tr>
    </tbody>
  </table>
</div>
