<div class="col-md-6">
  <h2 class="text-center">Editar Empresa</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" formControlName="name" placeholder="Nombre de empresa" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="address">Dirección:</label>
      <input formControlName="address" placeholder="Direccion de empresa" name="address" class="form-control" id="address">
    </div>

    <button class="btn btn-success">Editar</button>
  </form>
</div>
