<mat-card>
  <mat-card-title>Agregar un nuevo Proveedor</mat-card-title>
  <mat-card-content>
    <form class="my-form" [formGroup]="addForm" (ngSubmit)="createProvider()">
      <mat-form-field class="input-full-width">
        <input name="name" maxlength="50" placeholder="Nombre del nuevo proveedor" formControlName="name" matInput/>
        <mat-hint align="end" *ngIf="addForm.value['name']">{{addForm.value['name'].length}} / 50</mat-hint>
      </mat-form-field>
      <button type="submit" mat-button color="primary" [disabled]="!addForm.valid">Agregar Proveedor</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="my-card">
  <mat-card-title>Lista de proveedores existentes</mat-card-title>
  <mat-card-subtitle>Proveedores ya creados</mat-card-subtitle>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Numero de identificacion interno </mat-header-cell>
        <mat-cell *matCellDef="let prov">{{prov.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del proveedor </mat-header-cell>
        <mat-cell *matCellDef="let prov">{{prov.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let prov"><button mat-button color="secondary" (click)="openEditDialog(prov)">Editar</button></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['id', 'name', 'button']"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns:['id', 'name', 'button']"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
