<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Business Items
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/list-product-type">Tipo de Producto</a>
          <a class="dropdown-item" href="/list-product">Producto</a>
          <a class="dropdown-item" href="/list-company">Empresas</a>
          <a class="dropdown-item" href="/list-container">Containers</a>
          <a class="dropdown-item" href="/list-truck">Camiones</a>
          <a class="dropdown-item" href="/list-bill-of-loading">Bill of Loadings</a>
          <a class="dropdown-item" href="/list-order">Orden de compra</a>
          <a class="dropdown-item" href="/list-shipment-report">Informes de llegada</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vistas del proceso
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="/list-shipment">Información container en planta</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
