<div class="col-md-6">
  <h2 class="text-center">Agregar una nueva empresa al sistema</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" formControlName="name" placeholder="Nombre de la empresa" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="address">Dirección:</label>
      <input formControlName="address" placeholder="Dirección de la empresa" name="address" class="form-control" id="address">
    </div>

    <button class="btn btn-success">Crear</button>
  </form>
</div>
