<div class="col-12">
  <h2 class="text-center">Editar Container</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="id">Numero de Identificación:</label>
      <input type="text" formControlName="id" placeholder="Numero de identificacion" name="id" class="form-control" id="id">
    </div>

    <div class="form-group">
      <label for="product">Producto que contiene:</label>
      <select type="text" formControlName="product" name="product" class="form-control" id="product">
        <option *ngFor="let product of products" [value]="product.id">{{product.id}} - {{product.name}}</option>
      </select>
      <div *ngFor="let validation of validationMessages.standard">
        <div class="alert alert-danger" *ngIf="editForm.get('product').hasError(validation.type) && (editForm.get('product').dirty || editForm.get('product').touched)">{{validation.message}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="footSize">Tamaño del contenedor:</label>
      <select formControlName="footSize" name="productType" class="form-control" id="footSize">
        <option value="20">20 pies</option>
        <option value="40">40 pies</option>
      </select>
      <div *ngFor="let validation of validationMessages.standard">
        <div class="alert alert-danger" *ngIf="editForm.get('footSize').hasError(validation.type) && (editForm.get('footSize').dirty || editForm.get('footSize').touched)">{{validation.message}}</div>
      </div>
    </div>

    <button class="btn btn-success" [disabled]="!editForm.valid">Editar</button>
  </form>
</div>
