<div class="col-md-6">
  <h2 class="text-center">Agregar un nuevo camion al sistema</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="container">Container:</label>
      <select type="text" formControlName="container" name="id" class="form-control" id="container">
        <option *ngFor="let container of containers" [value]="container.id">{{container.id}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="driver">Conductor:</label>
      <input type="text" formControlName="driver" placeholder="Conductor" class="form-control" name="driver" id="driver">
    </div>

    <div class="form-group">
      <label for="licensePlate">Patente:</label>
      <input type="text" formControlName="licensePlate" placeholder="Patente del camion" name="licensePlate" class="form-control" id="licensePlate">
    </div>

    <button class="btn btn-success">Crear</button>
  </form>
</div>
