/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
table {
  margin-top: 20px;
  width: 100%;
}

body {
  margin: 0 !important;
}

.my-card {
  margin-top: 20px;
}
