<div class="col-12">
  <h2 class="text-center">Agregar un nuevo producto al sistema</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" formControlName="name" placeholder="Nombre de producto" name="name" class="form-control" id="name">
      <div *ngFor="let validation of validationMessages.standardName">
        <div class="alert alert-danger" *ngIf="addForm.get('name').hasError(validation.type) && (addForm.get('name').dirty || addForm.get('name').touched)">{{validation.message}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="productType">Tipo de producto:</label>
      <div class="alert alert-danger" *ngIf="productTypes.length === 0">
        <p>No hay tipos de producto creados.</p>
        <button class="btn btn-success" (click)="goToTypeProductView()">Crear un tipo de producto</button>
      </div>
      <select type="text" formControlName="productType" name="productType" class="form-control" id="productType" *ngIf="productTypes.length > 0">
        <option *ngFor="let productType of productTypes" [value]="productType.id">{{productType.name}}</option>
      </select>
      <div *ngFor="let validation of validationMessages.standard">
        <div class="alert alert-danger" *ngIf="addForm.get('productType').hasError(validation.type) && (addForm.get('name').dirty || addForm.get('name').touched)">{{validation.message}}</div>
      </div>
    </div>

    <button class="btn btn-success" [disabled]="!addForm.valid">Crear</button>
  </form>
</div>
