<div class="col-12">
  <h2 class="text-center">Agregar un nuevo producto al sistema</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" formControlName="name" placeholder="Nombre de producto" name="name" class="form-control" id="name">
      <div *ngFor="let validation of validationMessages.standardName">
        <div class="alert alert-danger" *ngIf="addForm.get('name').hasError(validation.type) && (addForm.get('name').dirty || addForm.get('name').touched)">{{validation.message}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="productType">Tipo de producto:</label>
      <input formControlName="productType" placeholder="Tipo de producto" name="productType" class="form-control" id="productType">
      <div *ngFor="let validation of validationMessages.productType">
        <div class="alert alert-danger" *ngIf="addForm.get('productType').hasError(validation.type) && (addForm.get('name').dirty || addForm.get('name').touched)">{{validation.message}}</div>
      </div>
    </div>

    <button class="btn btn-success" [disabled]="!addForm.valid">Crear</button>
  </form>
</div>
