<div class="col-12">
  <h2 class="text-center">Agregar un nuevo producto al sistema</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" formControlName="name" placeholder="Nombre de tipo de producto" name="name" class="form-control" id="name">
      <div *ngFor="let validation of validationMessages.standardName">
        <div class="alert alert-danger" *ngIf="addForm.get('name').hasError(validation.type) && (addForm.get('name').dirty || addForm.get('name').touched)">{{validation.message}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="material">Material:</label>
      <input type="text" formControlName="material" placeholder="Material del producto" name="material" class="form-control" id="material">
      <div *ngFor="let validation of validationMessages.standard">
        <div class="alert alert-danger" *ngIf="addForm.get('material').hasError(validation.type) && (addForm.get('material').dirty || addForm.get('material').touched)">{{validation.message}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="color">Color:</label>
      <input type="text" formControlName="color" placeholder="Color del producto" name="color" class="form-control" id="color">
      <div *ngFor="let validation of validationMessages.standard">
        <div class="alert alert-danger" *ngIf="addForm.get('color').hasError(validation.type) && (addForm.get('color').dirty || addForm.get('color').touched)">{{validation.message}}</div>
      </div>
    </div>

    <button class="btn btn-success" [disabled]="!addForm.valid">Crear</button>
  </form>
</div>
